<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" 
        xmlns:gap="http://phonegap.com/ns/1.0" 
        id="com.yourcompany.easyforecast" 
        version="1.0.0">

    <name>EasyForecast</name>
    
    <description>
        Aplicativo de previsão do tempo simples e acessível.
    </description>

    <author email="youremail@example.com" href="http://yourwebsite.com">
        Useful site Creator
    </author>

    <content src="index.html" />

    <access origin="*" />

    <preference name="orientation" value="default" />
    <preference name="fullscreen" value="true" />
    <preference name="webviewbounce" value="false" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="android-minSdkVersion" value="22" />
    <preference name="android-targetSdkVersion" value="33" />

    <!-- Configurações de ícone e splash screen -->
    <platform name="android">
        <icon src="res/icon/android/icon-96x96.png" />
        <splash src="res/screen/android/screen-xhdpi-portrait.png" />
    </platform>

    <!-- Plugins -->
    <plugin name="cordova-plugin-whitelist" />
    <plugin name="cordova-plugin-splashscreen" />
    <plugin name="cordova-plugin-statusbar" />
</widget>
